<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <p>This database contains movies with genres of Western, Action and Fantasy</p>
  
  <form action="/" method="post">
    <input type="text" name="q" placeholder="Search" style="width: 600px;">
    <input type="submit" value="Search">
  </form>
  
  {% if results %}
    <h2>Search Results</h2>
    <ul>
      {% for result in results %}
        <li>
          <h3>{{ result.title }}</h3>
          <p>{{ result.plot }}</p>
          <p>Rating: {{ result.rating }}</p>
          <p>Score: {{ result.score }}</p>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>